<% content_for :meta_tags do %>
<title>Discover new music by keywords with listwalk</title>
<meta name="description" content="listwalk creates Spotify playlist based upon words rather than artist or song names. Enjoy a new, ingenious way of discovering music on Spotify.">
<!-- og tags -->
<meta property="og:site_name" content="listwalk">
<meta property="og:title" content="Discover new music on Spotify">
<meta property="og:description" content="While searching for music on Spotify, we are often limited by our preferences. listwalk lets you discover new music on an entirely different level!">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= request.original_url %>">
<% end %>

<div class="row text-center">
<div class="col-sm-12">
    <h2 class="listwalk-type-green">This is how we do it</h2>
</div>
<div class="col-sm-3 col-sm-offset-1">
<h3><i class="fa fa-search"></i></h3>
<p>
Simply search for the first word that pops into your head.
</p>
</div>
<div class="col-sm-3 col-sm-offset-1">
<h3><i class="fa fa-circle-o-notch"></i></h3>
<p>We then find the best tracks based on your search term – no matter the genre!</p>
</div>
<div class="col-sm-3 col-sm-offset-1">
<h3><i class="fa fa-spotify"></i></h3>
<p></p>The playlist is now generated and available on your Spotify!<p></p>
</div>  