<% content_for :meta_tags do %>
<title>Discover new music by keywords with listwalk</title>
<meta name="description" content="listwalk creates Spotify playlist based upon words rather than artist or song names. Enjoy a new, ingenious way of discovering music on Spotify.">
<!-- og tags -->
<meta property="og:site_name" content="listwalk">
<meta property="og:title" content="Discover new music on Spotify">
<meta property="og:description" content="While searching for music on Spotify, we are often limited by our preferences. listwalk lets you discover new music on an entirely different level!">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= request.original_url %>">
<% end %>