<% content_for :meta_tags do %>
<title>Discover new music by keywords with listwalk</title>
<meta name="description" content="listwalk creates Spotify playlist based upon words rather than artist or song names. Enjoy a new, ingenious way of discovering music on Spotify.">
<% end %>