<!DOCTYPE html>
<html>
<head>
  <title>Listwalk</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>listwalk
    <small>probably the greatest way for discovering new music on Spotify</small>
</h1>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
